.UserData {
    margin: 10px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 2px solid #eee;
    padding: 100px;
    background-color: white
}


@media (min-width: 600px) {
    .UserData {
        width: 500px;
    }
}