.Card {
    width: 200px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    padding-right: 20px;
    margin: 10px auto;
    margin-left: 30px;
    box-sizing: border-box;
    display: inline-block;   
}